---
---

$header-bg-color: #000066;
$header-bg-color-secondary: #000099;

@import "{{ site.theme }}";

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}